@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "mixins/underline";

$padding-small: 10px;
$padding-medium: 30px;
$padding-large: 60px;

body {
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
}

.training-section {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  background: $color-primary;
  color: $contact-color;

  a {
    color: $color-white;

    &:hover {
      color: $color-secondary-alt;
      text-decoration: underline;
    }
  }

  h2 {
    color: $color-white;
  }

  p {
    margin: 0 0 30px;
  }

  btn-primary {
    color: $color-white;
    background-color: $contact-btn-bg;
    border: 0;

    &:hover {
      color: $color-white;
      background-color: lighten($contact-btn-bg, 10%);
    }
  }
}

.method-content {
  max-width: 970px;
  margin: 0 auto $padding-medium;
}

.method {
  + .method {
    border-top: solid 1px $color-gray-medium;
    padding-top: $padding-medium;
    margin-top: $padding-large;
  }

  .block-title {
    text-align: center;
    margin: $padding-medium 0;
    color: $color-primary-alt;
  }

  p {
    color: $text-color-light;
    font-size: 16px;
    line-height: 1.6;

    a:not(.btn) {
      color: $text-color-light;
      text-decoration: underline;
    }

    @media (min-width: $screen-md-min) {
      font-size: 18px;
    }
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  svg {
    fill: currentColor;
  }

}
